/* Common Command */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flex{
  display: flex;
}
#app{
  height: 100vh;
  background: rgb(204,209,207);
  background: linear-gradient(0deg, rgba(204,209,207,1) 85%, rgba(26,150,135,1) 85%);
}
.container{
  width: 80%;
  min-width: 400px;
  height: 90%;
  margin: auto;  
  overflow: hidden;
}
/* Start Aside */
aside{
  width: 35%;
  background-color: rgb(250, 250, 250);
}
aside img{
  width: 50px;
  border-radius: 50%;
  margin: 10px;
}
.user{
  background-color: rgb(234, 234,	234);
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid rgb(199, 199, 199);
  ;
}
.name-user{
  align-items: center;
}
.name-user span{
  font-size: 15px;
  font-weight: bold;
}
.tools-user{
  width: 35%;
  justify-content: space-around;
  position: relative;
}
.fa-ellipsis-v{
  cursor: pointer;
}
.sub-menu-user{
  line-height: 30px;
  position: absolute;
  width: 150px;
  background-color: #fff;
  padding: 3px 0;
  right: 15px;
  top: 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #000;
  cursor: pointer;
}
.sub-menu-user span{
  padding: 5px;
  cursor: pointer;
}
.sub-menu-user span:hover{
  background-color: rgb(231, 231, 231);
}
.tools-user i{
 font-size: 25px;
 margin-right: 5%;
 color: rgb(178,	177,	177);
}
.active-notification{
  height: 80px;
  align-items: center;
  background-color: rgb(142,	218,	252);
  padding-left: 20px;
}
.notification{
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  padding: 12px 9px;
}
.notification i{
  font-size: 25px;
  color: rgb(142,	218,	252);
}
.text-notification span{
  display: block;
  font-size: 16px;
  margin-left: 10px
}
.link-active{
  color: rgb(160, 160, 160);
  text-decoration: underline;
  cursor: pointer;
}
.link-active:hover{
  color: rgb(59, 90, 104);
}
.container i:hover{
  color: gray;
  cursor: pointer;
}
.searchbar{
  width: 90%;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
}
.searchbar input{
  width: 100%;
  border: none;
  height: 40px;
  padding: 5px;
}
.searchbar i{
  padding: 10px 10px;
  line-height: 20px;
  background-color: #fff;
  color: rgb(160, 160, 160);
}
.user-contact span{
  display: block;
}
.user-contact .name-contact{
  padding-top: 10px;
}
.user-contact .last-message{
  font-size: 12px;
  color: rgb(160, 160, 160);
}
.contacts{
  width: 95%;
  overflow: auto;
  border-top: 1px solid rgb(244, 243, 243);
  border-right: 1px solid rgb(244, 243, 243);
  background-color: #fff;
  height: calc(100% - 208px);
} 
.contacts img{
  margin-left: 25px;
}
.user-contact{
  position: relative;
}
.user-contact:hover{
  background-color:rgb(226, 226, 226);
}
.user-contact .data{
  font-size: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* End Aside */

/* Start Main */
main{
  width: 75%;
}
.contact{
  height: 70px;
  align-items: center;
  background-color: rgb(234, 234,	234);
  padding: 0 20px;
  justify-content: space-between;
}
.profile img{
  width: 55px;
  border-radius: 50%;
  margin-right: 10px;
}
.info{
  flex-direction: column;
}
.info .last-access,
.info .time{
  color: rgb(160, 160, 160);
  font-size: 12px;
  line-height: 18px;
}.tools-message i{
  font-size: 20px;
  margin-right: 10px;
  color: rgb(160, 160, 160);
}
.content-main{
  background-image: url("../img/mine.jpg");
  height: calc(90vh - 150px);
  overflow-y: auto;
}
.content-all-message{
  width: 80%;
  margin: auto;
  padding-top: 10px;
}
.container-message{
  margin-bottom: 10px;
}
.sent-message{
  text-align: end;
}
.sent{
  background-color: rgb(213, 249,	185);
}
.message{
  display: inline-block;
  border-radius: 10px;
  padding: 8px 45px 8px 10px;
  position: relative;
  max-width: 50%;
  word-break: break-word;
}
.message i{
  font-size: 10px;
  position: absolute;
  right: 10px;
  top: 5px;
  color: rgb(160, 160, 160);
  display: none;
  cursor: pointer;  
}
.message:hover i{
  display: block;
}
.received{
  background-color: #fff;
}
.message .sub-menu{
  border-radius: 2px;
  line-height: 19px;
  position: absolute;
  width: 130px;
  top: 17px;
  flex-direction: column;
  font-size: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 5px #000;
  z-index: 1;
}
.message .sub-menu span{
  padding: 6px;
}
.message .sub-menu span:hover{
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}
.sent .sub-menu{
  right: 10px;
  text-align: start;
}
.received .sub-menu{
  left: 80%;
}
.time-message{
  color: rgb(160, 160, 160);
  position: absolute;
  font-size: 8px;
  bottom: 2px;
  right: 5px;
}
.write-message{
  height: 80px;
  background-color: rgb(244, 238,	234);
  justify-content: space-around;
  align-items: center;
}
.write-message input{
  height: 60px;
  width: 80%;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.write-message i{
  font-size: 30px;
  color: rgb(160, 160, 160);
}
/* End Main */
