*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flex{
  display: flex;
}
#app{
  height: 100vh;
  background: rgb(204,209,207);
  background: linear-gradient(0deg, rgba(204,209,207,1) 85%, rgba(26,150,135,1) 85%);
}
.container{
  width: 80%;
  min-width: 400px;
  height: 90%;
  margin: auto;
  background-color: green;
  overflow: hidden;
}
aside{
  width: 35%;
  background-color: rgb(250, 250, 250);
}
aside img{
  width: 50px;
  border-radius: 50%;
  margin: 10px;
}
.user{
  background-color: rgb(234, 234,	234);
  align-items: center;
  justify-content: space-between;
}
.name-user{
  align-items: center;
}
.name-user span{
  font-size: 15px;
  font-weight: bold;
}
.tools-user{
  width: 35%;
  justify-content: space-around;
}
.tools-user i{
 font-size: 25px;
 margin-right: 5%;
 color: rgb(178,	177,	177);
}
.active-notification{
  height: 80px;
  align-items: center;
  background-color: rgb(142,	218,	252);
  padding-left: 20px;
}
.notification{
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  padding: 12px 9px;
}
.notification i{
  font-size: 25px;
  color: rgb(142,	218,	252);
}
.text-notification span{
  display: block;
  font-size: 16px;
  margin-left: 10px
}
.link-active{
  color: rgb(160, 160, 160);
  text-decoration: underline;
}
.searchbar{
  width: 90%;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
}
.searchbar input{
  width: 100%;
  border: none;
  height: 40px;
  padding: 5px;
}
.searchbar i{
  padding: 10px 10px;
  line-height: 20px;
  background-color: #fff;
  color: rgb(160, 160, 160);
}
.user-contact span{
  display: block;
}
.user-contact .name-contact{
  padding-top: 10px;
}
.user-contact .message-contact{
  font-size: 12px;
  color: rgb(160, 160, 160);
}
.contacts{
  width: 95%;
  overflow: auto;
  border-top: 1px solid rgb(244, 243, 243);
  border-right: 1px solid rgb(244, 243, 243);
  height: 100%;
  background-color: #fff;
} 
.contacts img{
  margin-left: 25px;
}
.user-contact{
  position: relative;
}
.user-contact .data{
  font-size: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}
main{
  width: 75%;
  background-color: firebrick ;
}