<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
  </head>
  <body>
    <div id="app" class="flex">
      <div class="container flex">
        <aside>
          <div class="user flex">
            <div class="name-user flex">
              <img src="./img/avatar_2.jpg" alt="Sfondo User">
              <span>Nome Utente</span>
            </div>
            <div class="tools-user flex">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <div class="active-notification flex">
            <div class="notification">
              <i class="fas fa-bell-slash"></i>
            </div>
            <div class="text-notification">
              <span>Ricevi notiche di nuovi messaggi</span>
              <span class="link-active">Attiva notifiche desktop</span>
            </div>
          </div>
          <div class="searchbar flex">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Cerca o inizia una nuova chat">
          </div>
          <div class="contacts">
            <div class="user-contact flex" @click="selectContact(index)" v-for="(contact,index) in contacts">
              <img :src="contact.avatar" :alt="contact.name">
              <div class="content-contact">
                <span class="name-contact">{{contact.name}}</span>
                <span class="last-message">{{contact.messages[selectLastMessage(index)].text}}</span>
                <span class="data">{{contact.messages[selectLastMessage(index)].date}} {{contact.messages[selectLastMessage(index)].time}}</span>
              </div>
            </div>
          </div>
        </aside>
        <main>
          <div class="all-messages">
            <div class="contact flex">
              <div class="profile flex">
                <img :src="contacts[active].avatar" alt="contacts[active].name">
                <div class="info flex">
                  <span class="name-contact">{{contacts[active].name}}</span>
                  <span class="last-access">Ultimo accesso: {{contacts[active].messages[selectLastMessage(active)].date}}</span>
                  <span class="time">Alle {{contacts[active].messages[selectLastMessage(active)].time}}</span>
              </div>
                </div>
              <div class="tools-message">
                <i class="fas fa-search"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
            <div class="content-main">
              <div class="content-all-message">
                <div class="container-message" v-for="(message,index) in contacts[active].messages.length" :class="contacts[active].messages[index].status + '-message'">
                  <div class="message" :class="contacts[active].messages[index].status">
                    {{contacts[active].messages[index].text}}
                    <i class="fas fa-chevron-down"></i>
                    <div class="time-message">{{contacts[active].messages[index].time}}</div>
                  </div>
                </div>  
              </div>
            </div>
            <div class="write-message flex">
              <i class="far fa-smile"></i>
              <input @keyup.enter="addMessage(); selectLastMessage();" type="text" v-model="newMessage.text" placeholder="Scrivi un messaggio">
              <i class="fas fa-microphone"></i>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>