<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
  </head>
  <body>
    <div id="app" class="flex">
      <div class="container flex">
        <!-- Left side, where we find a section with the user's profile, a part where the warning is contained
        to turn off notifications, and last section where we find all contact -->
        <aside>
          <div @mouseleave="closeSubMenuUser" class="user flex">
            <div class="name-user flex">
              <img src="./img/avatar_2.jpg" alt="Sfondo User">
              <div info-user>
                <span class="name">{{userName}}</span>
                <span class="status">Online</span>
              </div>  
            </div>
            <div class="tools-user flex">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i @click="openSubMenuUser" class="fas fa-ellipsis-v"></i>
              <div v-if="changeNameUser[0].submenu == true" class="sub-menu-user">
                <span @click="clickChange">Cambia Nome Utente</span>
              </div>
            </div>
          </div>
          <div class="active-notification flex">
            <div class="notification">
              <i class="fas fa-bell-slash"></i>
            </div>
            <div class="text-notification">
              <span>Ricevi notiche di nuovi messaggi</span>
              <span class="link-active">Attiva notifiche desktop</span>
            </div>
          </div>
          <div class="searchbar flex">
            <i class="fas fa-search"></i>
            <input type="text" @keyup="search()" v-model="searchName" placeholder="Cerca o inizia una nuova chat">
          </div>
          <div class="contacts">
            <div class="user-contact flex" @click="selectContact(index)" v-for="(contact,index) in contacts" :style="contact.visible == false ? 'display: none' : 'display: flex'">
              <img :src="contact.avatar" :alt="contact.name">
              <div class="content-contact">
                <span class="name-contact">{{contact.name}}</span>
                <span class="last-message">{{contact.messages[selectLastMessage(index)].text}}</span>
                <span class="data">{{contact.messages[selectLastMessage(index)].date}} {{contact.messages[selectLastMessage(index)].time}}</span>
              </div>
            </div>
          </div>
        </aside>
        <!-- The Main contains the single profile clicked with the relative messages, and in the lower part we find the input to send the messages,
        the emojis, and the microphone -->
        <main>
          <div class="all-messages">
            <div class="contact flex">
              <div class="profile flex">
                <img :src="contacts[active].avatar" alt="contacts[active].name">
                <div class="info flex">
                  <span class="name-contact">{{contacts[active].name}}</span>
                  <span class="last-access">Ultimo accesso: {{contacts[active].messages[selectLastMessage(active)].date}}</span>
                  <span class="time">Alle {{contacts[active].messages[selectLastMessage(active)].time}}</span>
              </div>
                </div>
              <div class="tools-message">
                <i class="fas fa-search"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
            <div class="content-main">
              <div class="content-all-message">
                <div class="container-message" v-for="(message,index) in contacts[active].messages.length" :class="contacts[active].messages[index].status + '-message'">
                  <div class="message" @mouseleave="closeSubMenuMessage(index)" :class="contacts[active].messages[index].status">
                    <span>{{contacts[active].messages[index].text}}</span>
                    <div class="time-message">{{contacts[active].messages[index].time}}</div>
                    <i @click="openSubMenuMessage(index)" class="fas fa-chevron-down"></i>
                    <div class="sub-menu flex" v-if="contacts[active].messages[index].info == true">
                      <span>Info Messaggio</span>
                      <span @click="remove(index)">Elimina Messaggio</span>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
            <div class="write-message flex">
              <i class="fas fa-times" :style="iconsActive == true ? 'display: block' : 'display: none' " @click="openListEmoji"></i>
              <i class="far fa-smile" :style="iconsActive == true ? 'display: none' : 'display: block'" @click="openListEmoji"></i>
              <input @keyup.enter="addMessage" type="text" v-model="newMessage"  placeholder="Scrivi un messaggio">
              <i @click="addMessage" class="fas fa-paper-plane" v-if="newMessage != ''"></i>
              <i @click="timer" class="fas fa-microphone" v-if="newMessage == ''" :style="toRecord.active == true ? 'color:red' : ''"></i>
              <div class="to-record flex" v-if="toRecord.active == true">
                <i class="fas fa-caret-down"></i>
                <i v-if="pause == true" class="fas fa-pause-circle" @click="stopTimer"></i>
                <i v-if="pause == false" class="fas fa-play-circle" @click="resumeTimer"></i>
                <span>{{toRecord.minutes}} : {{toRecord.seconds}}</span>
              </div>
              <div class="list-emoticon" v-if="iconsActive == true">
                <div class="search-emoji">
                  <input @keyup="searchEmoji" v-model="searchEmoticon" type="text" placeholder="Search emoji">
                </div>
                <span @click="addEmoji(emoji.emoji)" v-for="emoji in icons" :style="emoji.visible == true ? 'display: inline-block' : 'display: none'"><i :class="`${emoji.family} ${emoji.prefix}${emoji.name}`"></i></span>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>